<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="[TENANT_NAME.onmicrosoft.com]" />
    <add key="ida:ClientId" value="[CLIENT_ID_FOR_APPLICATION_IN_AAD]" />
    <add key="ida:RedirectUri" value="http://localhost/AzureManagementApp" />
    <add key="ida:SubscriptionId" value="[AZURE_SUBSCRIPTION_ID]" />
    <add key="ida:AzureUri" value="https://management.core.windows.net"/>
  </appSettings>
</configuration>